@import url('https://fonts.googleapis.com/css2?family=Jockey+One&family=Montserrat&family=Staatliches&display=swap');
// fonts
$brandFont: 'Jockey One', sans-serif;
$displayFont: 'Staatliches', cursive;
$textFont: 'Montserrat', sans-serif;
// color palette

/* SCSS RGB */
$rich-black-fogra-29: rgba(1, 22, 39, 1);
$sonic-silver: rgba(122, 121, 120, 1);
$fulvous: rgba(225, 133, 20, 1);
$saffron: rgba(237, 188, 28, 1);
$lemon: rgba(249, 242, 36, 1);
$khaki-x-11-light-khaki: rgba(238, 235, 132, 1);
$platinum: rgba(227, 227, 227, 1);
$ghost-white: rgba(247, 247, 255, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #011627ff, #7a7978ff, #e18514ff, #edbc1cff, #f9f224ff, #eeeb84ff, #e3e3e3ff, #f7f7ffff);
$gradient-right: linear-gradient(90deg, #011627ff, #7a7978ff, #e18514ff, #edbc1cff, #f9f224ff, #eeeb84ff, #e3e3e3ff, #f7f7ffff);
$gradient-bottom: linear-gradient(180deg, #011627ff, #7a7978ff, #e18514ff, #edbc1cff, #f9f224ff, #eeeb84ff, #e3e3e3ff, #f7f7ffff);
$gradient-left: linear-gradient(270deg, #011627ff, #7a7978ff, #e18514ff, #edbc1cff, #f9f224ff, #eeeb84ff, #e3e3e3ff, #f7f7ffff);
$gradient-top-right: linear-gradient(45deg, #011627ff, #7a7978ff, #e18514ff, #edbc1cff, #f9f224ff, #eeeb84ff, #e3e3e3ff, #f7f7ffff);
$gradient-bottom-right: linear-gradient(135deg, #011627ff, #7a7978ff, #e18514ff, #edbc1cff, #f9f224ff, #eeeb84ff, #e3e3e3ff, #f7f7ffff);
$gradient-top-left: linear-gradient(225deg, #011627ff, #7a7978ff, #e18514ff, #edbc1cff, #f9f224ff, #eeeb84ff, #e3e3e3ff, #f7f7ffff);
$gradient-bottom-left: linear-gradient(315deg, #011627ff, #7a7978ff, #e18514ff, #edbc1cff, #f9f224ff, #eeeb84ff, #e3e3e3ff, #f7f7ffff);
$gradient-radial: radial-gradient(#011627ff, #7a7978ff, #e18514ff, #edbc1cff, #f9f224ff, #eeeb84ff, #e3e3e3ff, #f7f7ffff);
html, body {
    margin: 0;
    // display: relative;
}
.navbar {
    width: 100vw;
    position: fixed;
    padding: 1rem;
    .navbar-nav {
        
    }
    .nav-link {
        padding-left: 1rem;
        padding-right: 1rem;
        font-size: 1.1rem;
    }
    .navbar-brand {
        font-family: $brandFont;
    }
    .social-links {
        // padding: 27.2px;
        margin-right: 1rem;
        margin-top: .5rem;
        display: block;
        place-items: center;

        a {
            color: $rich-black-fogra-29;
        }

        .fa-linkedin-in:hover {
            color: #0077b5;
        }
        .fa-twitter:hover {
            color: #1DA1F2;
        }
        .fa-medium-m:hover {
            color: white;
        }
    }
    .navbar-toggler {
        border: none;
        .navbar-toggler-icon {
            border-color: red;
        }
    }
}
.landingContainer {
    display: block;
    // position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: $platinum;
    h2 {
        font-family: $displayFont;
        font-size: 2rem;
    }
    // .landingTitle {
    //     // background-color: $fulvous;
    //     width: 80%;
    //     height: 25%;
    //     border-style: solid;
    //     border-width: 200px 400px 0 0;
    //     border-color: $fulvous transparent transparent transparent;
    // }

    .imageContainer0 {
        position: relative;
        // left: 7rem;
        // bottom: ;
        width: 42%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

        img {
            display: block;
            width: 100%;
            height: auto;
        }
        .imageOverlay0 {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            height: 100%;
            width: 100%;
            opacity: .3;
            // transition: .5s ease;
            background-color: $fulvous;
        }
    }
}
.servicesContainer {
    display: block;
    // position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: $fulvous;

}
.estimateContainer {
    display: block;
    // position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: $lemon;

}
.contactContainer {
    display: block;
    // position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: $saffron;

}
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 
    .mainContent {
        margin: 0;
        padding-left: 1rem;
        padding-top: 5rem;
        height: 100vh;
    }
    .navbar-brand {
        span {
            display: none;
        }
    }
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
    .mainContent {
        margin: 0;
        padding-left: 1rem;
        padding-top: 5rem;
    }
    .navbar-brand {
        span {
            display: none;
        }
    }
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
    .mainContent {
        margin: 0 2rem;
        padding-top: 5rem;
    }
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
    .mainContent {
        margin: 0 5rem;
        padding-top: 5rem;
    }
}
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .mainContent {
        margin: 0 5rem;
        padding-top: 5rem;
    }
}